<h1>User stats</h1>
<p>User: <%= @user.name %></p>
<p>Created: <%= ((Time.now - @user.created_at) / 86400).floor %> days ago</p>
<p><%= link_to 'All user posts', user_posts_path %></p>
<p><%= link_to 'All user comments', user_comments_path %></p>
