<h1>User stats</h1>
<p>User: <%= @user.name %></p>
<p>Created: <%= ((Time.now - @user.created_at) / 86400).floor %> days ago</p>
<p><a href="/user/posts">All user posts</a></p>
<p><a href="/user/comments">All user comments</a></p>
